.delete-confirmation-popup {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 3;
    transform: translateY(-50%);
  }
  
  .delete-confirmation-popup p {
    margin-bottom: 10px;
    color: black;
    font-size: large;
  }
  
  .delete-confirmation-popup button {
    margin-right: 10px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .delete-confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }